*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.conteiner{
    max-width: 1920px;
    margin: 0 auto;
    border: 5px solid rgb(1, 1, 1);

}
.logo{
  
}
body{
    font-family: 'Kanit', sans-serif;
}
header{
    background: #2e1c85;
    min-height: 100vh;
}
.header_top{
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    min-width: 60px;
    align-items: center;
}
nav ul{
    display: flex;
    min-width: 405px;
    justify-content: space-between;
}
nav ul li{
list-style: none;
}
nav ul li a{
    color: #f5f2f2;
    text-decoration: none;
}
nav ul li a:hover{
    border-bottom: 2px solid #f7efef;
    
}
.slider_elm img {
    width: 100%;
}
.header-info{
background-image: url(./img/start-screen-puppy.png);
min-height: 80vh;
background-repeat: no-repeat;
background-position: bottom right;
background-size: contain;
}
.header-info h1{
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    padding-top: 230px;
    color: rgb(0, 0, 0);
}
.header-info p{
    padding-top: 40px;
    width: 550px;
    color: #9a8403;

}
.header-info button{
    padding: 15px 45px;
    background: #f5f2f2;
    border-radius: 100px;
    border: none;
    margin-top: 45px;

}
.about_content {
    display: flex;
}
.a_img {
    width: 50%;
}
.a_text {
    width: 50%;
    font-size: 30px;

}
.line_head{
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list-item{
    width: 30%;
}
.list-item h3{
    font-style: normal;
    font-weight: 300px;
    font-size: 28px;
    line-height: 300%;
    padding-top: 20px;
    color: rgb(0, 0, 0);
}
.help h2 {
    padding-left: 650px;
    font-size: 35px;
    background-color: rgb(222, 230, 4);
}
.slaider{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0 10px;
    justify-content: space-around;
} 
.conteiner h2{
    font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
text-align: center;
letter-spacing: 0.06em;
}
.conteiner h2{
    background-color: rgb(246, 238, 5);
}
.slider_elm button {
    padding: 15px 45px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    background-color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: block;
    margin: 0 auto;
}
.conteiner h3{
    font-style: normal;
font-style: normal;
text-align: center;
font-weight: 400;
font-size: 20px;
line-height: 23px;

}
button{
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
    margin-top: 40px;
    display: block;
    margin: 0 auto;
}
.pet{
    background:#2e1c85;
    min-height: 100vh;
}
.about{
    background: #2e1c85;
}
 @media screen and (max-width:570px) {
    .header-info {
        background-size: 80vh;
    }
    nav ul li a{
        min-width: 370px;
        font-size: 15px;
    }
    .header-info h1 {
        padding-top: 50px;
    }
 }

 @media screen and (max-width: 570px) {
    .header-info h1 {
        color: #847832;
    }
    .nav ul{
        min-width: 370px;
    }
    .nav ul li a{
        font-size: 19px;
    }
    
    
 }
 @media screen and (max-width: 560px) {
    .nav ul{
        min-width: 366px;
    }
}

@media screen and (max-width: 530px){
    .nav ul{
        min-width: 350px;
        font-size: 13px;
    }
}
@media screen and (max-width: 425px) {
    nav ul{
        min-width: 230px;
        font-size: 13px;
    }.a_text {
        width: 50%;
        font-size: 21px;
    }
    .help h2 {
        padding-left: 25px;
        font-size: 27px;
    }
    .slider_elm button {
        padding: 9px 40px;
    }
    .list-item h3 {
        font-size: 17px;
    line-height: 162%;
    padding-top: 10px;
    }
}
@media screen and (max-width: 375px) {
    nav ul{
        min-width: 187px;
        font-size: 10px;
    }
    .slider_elm button {
        padding: 7px 30px;
    }
    
}
@media screen and (max-width: 320px) {
    nav ul, .header_top{
     flex-direction: column;
     align-items: center;
    }
    .slider_elm button {
        padding: 9px 20px;
    }
    .list-item h3 {
        font-size: 13px;
    line-height: 150%;
    padding-top: 9px;
    }
}

    

